.footer {
    background-color: #0e1013;
    color: #fff;
    padding: 1.875rem; // 16px
    display: block;
    
    .footer-info {
        display: grid;
        grid-template-columns: 3fr 3fr 4fr;
        gap: 2.5rem;
        margin-bottom: 20px;

        @include responsive(759){
            grid-template-columns: 1fr;
        }
    }        
}

.footer-item {

    font-family: 'IBM Plex Mono', monospace;

    h3 {
        font-size: 1.125rem;
        line-height: 1.2;
        margin-bottom: 1.125rem;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }

    ul.specs {
        li {
            margin-bottom: 1rem;
            background-color: #1B1D20;
            border-radius: 6px;    

            a {
                color: #b0b2b3;
                display: flex;
                padding: 0.625rem;
                flex-wrap: wrap;
                align-items: center;

                &:before {
                    content: "";
                    display: block;
                    width: 3px;
                    height: 1.875rem;
                    border-radius: 5px;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#DDFF01), to(#2e0));
                    background-image: linear-gradient(#DDFF01, #2e0);
                    margin-right: 1rem;
                }            
            }
        }
    }    

    &:last-child {
        border-left: 2px solid #1B1D20;

        h3 { 
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            margin-left: 40px
        }

        .footer-map {

            font-family: 'IBM Plex Mono', monospace;
            margin-left: 40px;

            .map-itens {
                display: grid;
                grid-template-columns: 110px 110px;

                &:after {
                    content: '';
                    display: block;
                    width: 100px;
                    height: 2px;
                    margin: 10px 0 15px 0;
                    background-color: #1B1D20;
                }

                li {
                    margin-bottom: 0.625rem;
                }

                a {
                    color: #b0b2b3;
                    font-size: 0.8rem;
                    line-height: 1.6;
                    font-style: italic;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#c1f), to(#70e));
                        background-image: linear-gradient(linear, left top, left bottom, from(#c1f), to(#70e));
                        margin-right: 6px;
                    }
                }
            }

            .redes-sociais {
                li {
                    margin-bottom: 0.625rem;

                    a {
                        color: #b0b2b3;
                        font-size: 0.8rem;
                        line-height: 1.6;
                        font-style: italic;
                    }
                }
            }

        }
    }
}

